@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto');

body {
	margin:0 ;
	position: relative;
}

.background img{
	z-index: -2;
	position: absolute;
	height: 100%;
	width: 1280px;
}
.header {
	margin: 0 auto;
}

.headfont {
		position: absolute;
		top: 150px;
    left: 150px;
		color: #B0C4DE; 
		font-size:250%;
		font-family: 'Ubuntu Condensed', sans-serif;
	  white-space: nowrap;
}
.headfont h1{font-weight: lighter;}
.headfont h2{font-weight: lighter;}

.header_icons {
		position: absolute;
		top: 625px;
		left: 100px;
	}
.header_icons img {
		padding-right: 100px ;
		}
.phone {
		position: absolute;
		top: 500px;
		left: 150px;
		font-size:250%;
		font-family: 'Ubuntu Condensed', sans-serif;
		color: #B0C4DE;
    letter-spacing: 8px;
	}


.menu {
	 	width: 100%;
		position: fixed;
		list-style: none;
		z-index: 1;
		padding: 25px 0 5px;
		text-align: center;
		background: white;
	}
.menu ul {margin: 0 auto;}
	
.menu li {display: inline-block;}

.menu li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}

.menu li:last-child:after {content: none;}

.menu a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 10px 0 1px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}

.menu a, .menu a:visited {color: #9d999d;}
.menu a.current, .menu a:hover{color: #B0C4DE;}
.menu a:before,

.menu a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #B0C4DE;
  transition: .8s;
}
.menu a:hover:before, .menu .current:before {left: 0;}
.menu a:hover:after, .menu .current:after {right: 0;}   

@media (max-width: 550px) {
	.menu {padding-top: 0;}
	.menu li {display: block;}
	.menu li:after {content: none;}
	.menu a {
 			padding: 25px 0 20px; 
  			margin: 0 30px;
		}
}

#container {
	position:relative;
	width:1280px;
	color:#606060;
	margin: auto;
	overflow:hidden;
}

#container .transparency {
  opacity:0.8;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
	background-color:#FFFFFF;
	width:1000px;
	height:100%;
	position:absolute;
	z-index:-1;
  margin-left: 140px;
} 

.content {
position:relative;
padding-left: 20px;

font-family:'Roboto', sans-serif;
margin-left: 140px;

width: 960px;
} 
.content a{display:block;margin-top:-69px;padding-top:69px;}
.content h1{font-family: 'Open Sans', sans-serif; }
.content h2{font-family: 'Open Sans', sans-serif; }
.content img {border: 3px solid;border-color: #ffffff;}
	
#lips {
		margin-left: 20px;		
		float: right;
	}

#eyelid {
		float: right;
		margin-left: 20px;
		
	}
#eyebrow {
		float: right;
		margin-left: 20px;		
	}
.footer {
		font-family: 'Open Sans', sans-serif;
		height: 240px;
		width:1000px;
		background-color: white;
		margin-left: 140px;
	
	}
.footerimg{
		float: right;
		margin-top: -30px;
	}
.footerimg img {
		padding-right: 30px;
		padding-top: 13%;
	}
.footerfont {
		padding-left: 20px;
		font-size:150%;
		float: left;
		width: 60%;
		
	}
.footerfont1 {
		padding-left: 20px;
		font-size:150%;
		float: left;
		
	}
	
.footer h1{font-weight: lighter;margin-top: 0;}
.footer h2{font-weight: lighter;}
#footerphone{
		
		padding-left: 75%;
		padding-top: 140px;

		width: 220px; 
		font-size:150%;
			
		
}
#footerphone h4{font-weight: lighter;}
