@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto');
#aheader {
	display:block;margin-top:-80px;padding-top:80px;
}
body {
	margin: 0 ;
   background: url(/home/nick/Документы/Ira/pics/background.jpg)
	}
.header {
		margin: 0 auto;
		
		
	}
.header #background{
		margin-top: 109px;
		max-width: 100%;
		height: auto;
		
		
	}
.headfont {
		position: absolute;
		top: 150px;
		right: 30%;

		color: white;
		font-size:150%;
		font-family: 'Ubuntu Condensed', sans-serif;
	}

.header_icons {
		position: absolute;
		top: 200px;
		right: 10%;

		filter: invert(1);
	
		
	}
.header_icons img {
		width: 44px;
		
		
	}
.phone {
		position: absolute;
		top: 280px;
		right: 10%;
		color: white;
		font-size:150%;
		font-family: 'Ubuntu Condensed', sans-serif;
	}


.menu {
	 	width: 100%;
		position: fixed;
		list-style: none;
		top:40px;
		z-index: 1;
		padding: 25px 0 5px;
		text-align: center;
		background: white;
	}
.menu ul {margin: 0 auto;}
	
.menu li {display: inline-block;}

.menu li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}

.menu li:last-child:after {content: none;}

.menu a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}

.menu a, .menu a:visited {color: #9d999d;}
.menu a.current, .menu a:hover{color: #feb386;}
.menu a:before,

.menu a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu a:hover:before, .menu .current:before {left: 0;}
.menu a:hover:after, .menu .current:after {right: 0;}   

@media (max-width: 550px) {
	.menu {padding-top: 0;}
	.menu li {display: block;}
	.menu li:after {content: none;}
	.menu a {
 			padding: 25px 0 20px; 
  			margin: 0 30px;
		}
}

#container {

width:1000px;
color:#606060;
margin: auto;
overflow:hidden;
}

#container .transparency {
  opacity:0.5;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
background-color:#FFFFFF;
width:1000px;
height:4500px;
position:absolute;
z-index:-1;
} 

.content {
position:relative;
margin-left: 20px;
margin-right: 20px;
font-family:'Roboto', sans-serif;

} 
.content a{display:block;margin-top:-69px;padding-top:69px;}
.content h1{font-family: 'Open Sans', sans-serif;}
.content h2{font-family: 'Open Sans', sans-serif;}
#lips {
		text-align: center;

		margin-left: 20px;
		
		float: right;
	}
	#lips img{
		height: auto;	
	}
#eyelid {
		float: left;
		margin-right: 20px;
		
	}	
.footer {
		margin-top: 200px;
	}
.footerimg{
		float: right;
	}
.footerimg img {
		padding-right: 30px;
	}
.footerfont {
		padding-left: 20px;
		font-size:150%;
		font-family: 'Open Sans', sans-serif;
		width: 50%;
		float: left;
	}
#footerphone{
		
		padding-left: 77%;
		padding-top: 11%;

		width: 200px; 
		font-size:150%;
		font-family: 'Open Sans', sans-serif;		
		
}