body{
  margin:0;
  padding:0;
}
.set_a_b{
    text-align: center;
    margin-top: 200px;
}

.expression{
  text-align: center;
  margin-top: 50px;  
  font-size: 30px; 
  position: relative;
}
.expression div{
  display: inline;
}
.sprite{
  margin-top: 200px;
  position: relative;
}
.sprite img{
  padding-left: 200px;
}
canvas{
  position: absolute;
  width: 800px;
  height: 100px;
  left: 237px;
  bottom:67px;

}
#a_input{
  position: absolute;
  bottom: 170px;
  display: none;
}
#b_input{
  position: absolute;
  bottom: 130px;  
  display: none;
}
#c_input{
  position: absolute;
  display: none;
  font-size: 20px;
}
#c_fin{
    display: none;
}
